[submodule "forge/core"]
	path = forge/core
	url = https://github.com/groenewt/core
[submodule "forge/docs"]
	path = forge/docs
	url = https://github.com/groenewt/base_docs
[submodule "forge/templates"]
	path = forge/templates
	url = https://github.com/groenewt/base_templates
[submodule "forge/sbin"]
	path = forge/sbin
	url = https://github.com/groenewt/base_bin
